html, body, #main {
    height: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /*border: 1px solid black;*/
}
.global-nav {
    border-bottom: 1px solid rgba(0,0,0,0.25);
    height: 46px;
    position: relative;
    width: 100%;
    
/* div {
    border: 1px solid black;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#header {
    border: 1px solid blue;
    width: 900px
} */